/* COPYRIGHT: MAXIMILIAN ARDALAN BERNHARD, KARLSRUHE 2022 */

@font-face {
    font-family: 'Pixel Operator Mono';
    src: local('Pixel Operator Mono'), local('PixelOperatorMono'),
        url('res/font/PixelOperatorMono.woff2') format('woff2'),
        url('res/font/PixelOperatorMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono';
    src: local('Pixel Operator Mono Bold'), local('PixelOperatorMono-Bold'),
        url('res/font/PixelOperatorMono-Bold.woff2') format('woff2'),
        url('res/font/PixelOperatorMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono HB';
    src: local('Pixel Operator Mono HB'), local('PixelOperatorMonoHB'),
        url('res/font/PixelOperatorMonoHB.woff2') format('woff2'),
        url('res/font/PixelOperatorMonoHB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --centerwidth: calc(6vmax);
    --centerheight: calc(6vmax);
    --dark: #000719;
    --bright: #fff8e6;
    --linkforbright: #002fa5;
    --linkfordark: #FFC941;
}

.light-theme {
    --bg: var(--bright);
    --fontColor: var(--dark);
}

/* .dark-theme {
    --bg: var(--dark);
    --fontColor: var(--bright);
} */

img {
    image-rendering: pixelated;
    pointer-events: none;
}

body {
    font-family: 'Pixel Operator Mono', sans-serif;
    font-size: 4vmax;
    text-rendering: geometricPrecision;

    color: var(--fontColor);
    background-color: var(--bg);

    margin: 0;

    user-select: none;
}

.flex {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    font-size: .65em;
}

.spinnit {
    margin-top: 1em;
    margin-bottom: .5em;
    animation: animatehue 5s linear infinite;
}

.spinnit img {
    animation: spinache 5s linear infinite;
    height: 40vh;
}

.counttext {
    font-weight: bold;

    flex-flow: column wrap;
    text-align: center;
}

.down *{
    margin: 0;
}

.down {
    margin-bottom: 1em;
}

.hueanimation {
    animation: animatehue 5s linear infinite;
}

.saturateanimation {
    animation: animatesat 604800s linear infinite;
}

@keyframes animatehue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes animatesat {
    0% {
        filter: saturate(100%);
    }

    50% {
        filter: saturate(5000%);
    }

    100% {
        filter: saturate(100%);
    }
}

@keyframes spinache {
    0% {
        transform: rotate3D(0,0,0,0deg)
    }

    33% {
        transform: rotate3D(1,1,1,180deg);
    }

    66% {
        transform: rotate3D(1,1,1,360deg);
    }

    100% {
        transform: rotate3D(0,0,0,360deg);
    }
}